<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.minio.mapper.MinioFileMapper">

    <resultMap id="BaseResultMap" type="com.example.minio.entity.MinioFile">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="select" resultMap="BaseResultMap">
        select *
        from minio_file
        where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from minio_file
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="url != null">
                and url = #{url}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO minio_file(name, url) VALUE (#{name}, #{url})
    </insert>

    <update id="update">
        update minio_file
        <set>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="url != null">
                url = #{url}
            </if>
        </set>
        where id = #{id}

    </update>

    <delete id="delete">
        delete
        from minio_file
        where id = #{id}
    </delete>

</mapper>
