<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.mapper.WarehouseMapper">

    <resultMap id="Map" type="com.example.api.entity.Warehouse">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="VoMap" type="com.example.api.vo.WarehouseVo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <association property="userInfo" javaType="com.example.system.entity.UserInfo">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="name" column="ui_name" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="idNumbers" column="id_numbers" jdbcType="VARCHAR"/>
            <result property="phoneNumbers" column="phone_numbers" jdbcType="INTEGER"/>
            <result property="createTime" column="ui_create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="ui_update_time" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

    <!--查询单个-->
    <select id="select" resultMap="VoMap">
        select warehouse.id,
               warehouse.name,
               warehouse.user_id,
               warehouse.address,
               warehouse.state,
               warehouse.create_time,
               warehouse.update_time,
               ui.user_id,
               ui.name        ui_name,
               ui.image,
               ui.id_numbers,
               ui.phone_numbers,
               ui.create_time ui_create_time,
               ui.update_time ui_update_time
        from warehouse
                 inner join user_info ui on warehouse.user_id = ui.user_id
        where warehouse.id = #{id}
    </select>

    <!--查询多行数据-->
    <select id="selectList" resultMap="VoMap">
        select warehouse.id,
        warehouse.name,
        warehouse.user_id,
        warehouse.address,
        warehouse.state,
        warehouse.create_time,
        warehouse.update_time,
        ui.user_id,
        ui.name ui_name,
        ui.image,
        ui.id_numbers,
        ui.phone_numbers,
        ui.create_time ui_create_time,
        ui.update_time ui_update_time
        from warehouse
        inner join user_info ui on warehouse.user_id = ui.user_id
        <where>
            <if test="id != null">
                and warehouse.id = #{id}
            </if>
            <if test="userId != null">
                and warehouse.user_id = #{userId}
            </if>
            <if test="name != null and name != ''">
                and warehouse.name = #{name}
            </if>
            <if test="address != null and address != ''">
                and warehouse.address = #{address}
            </if>
            <if test="state != null">
                and warehouse.state = #{state}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into warehouse(id, name, user_id, address, state)
        values (#{id}, #{name}, #{userId}, #{address}, #{state})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update warehouse
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="delete">
        delete
        from warehouse
        where id = #{id}
    </delete>

</mapper>

