<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatis.dao.AccountDao">

    <sql id="vo">
        account_id, bank_id, user_id, money
    </sql>

    <insert id="create">
        <selectKey keyProperty="accountId" resultType="java.lang.String" order="BEFORE">
            SELECT UUID()
        </selectKey>
        INSERT INTO account (account_id, bank_id, user_id, money, create_time, update_time, `delete`)
        VALUES (#{accountId}, #{bankId}, #{userId}, #{money}, CURRENT_TIME, NULL, 0);
    </insert>

    <select id="get" resultType="AccountVO">
        SELECT
        <include refid="vo"/>
        from account
        where account_id = #{id}
        and `delete` = 0
    </select>

    <select id="getList" resultType="AccountVO">
        SELECT
        <include refid="vo"/>
        from account where account_id in
        <foreach item="item" index="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by create_time
    </select>

    <select id="getAll" resultType="AccountVO">
        SELECT
        <include refid="vo"/>
        from account
        where `delete` = 0
        order by create_time
    </select>

    <select id="getPage" resultType="AccountVO">
        SELECT
        <include refid="vo"/>
        from account
        where `delete` = 0
        order by create_time
        limit #{startIndex}, #{endIndex}
    </select>

    <update id="update">
        UPDATE account
        <set>
            <if test="money!=null">
                money=#{money},
                update_time=CURRENT_TIME,
            </if>
        </set>
        WHERE account_id=#{accountId} and `delete`=0
    </update>

    <update id="delete">
        update account
        set `delete`=1,
            update_time=CURRENT_TIME
        where account_id = #{id}
          and `delete` = 0
    </update>

</mapper>