<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatis.dao.BankDao">

    <sql id="vo">
        bank_id, bank_name, region
    </sql>

    <insert id="create">
        <selectKey keyProperty="bankId" resultType="java.lang.String" order="BEFORE">
            SELECT UUID()
        </selectKey>
        INSERT INTO bank (bank_id, bank_name, region, create_time, update_time, `delete`)
        VALUES (#{bankId}, #{bankName}, #{region}, CURRENT_TIME, NULL, 0);
    </insert>

    <select id="get" resultType="BankVO">
        SELECT
        <include refid="vo"/>
        from bank
        where bank_id = #{id}
        and `delete` = 0
    </select>

    <select id="getList" resultType="BankVO">
        SELECT
        <include refid="vo"/>
        from bank where bank_id in
        <foreach item="item" index="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by create_time
    </select>

    <select id="getAll" resultType="BankVO">
        SELECT
        <include refid="vo"/>
        from bank
        where `delete` = 0
        order by create_time
    </select>

    <select id="getPage" resultType="BankVO">
        SELECT
        <include refid="vo"/>
        from bank
        where `delete` = 0
        order by create_time
        limit #{startIndex}, #{endIndex}
    </select>

    <update id="update">
        UPDATE bank
        <set>
            <if test="bankName!=null">
                bank_name=#{bankName},
            </if>
            <if test="region!=null">
                region=#{region},
            </if>
            <if test="bankName!=null or region!=null">
                update_time=CURRENT_TIME,
            </if>
        </set>
        WHERE bank_id=#{bankId} and `delete`=0
    </update>

    <update id="delete">
        update bank
        set `delete`=1,
            update_time=CURRENT_TIME
        where bank_id = #{id}
          and `delete` = 0
    </update>

</mapper>