<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatis.mapper.EntityMapper">

    <insert id="create" parameterType="com.demo.mybatis.entity.Entity" keyProperty="id" keyColumn="id">
        insert into entity(id, name, gender)
        VALUES (#{id}, #{name}, #{gender});
    </insert>
    <update id="update" parameterType="com.demo.mybatis.entity.Entity">
        update entity
        set name=#{name},
            gender=#{gender},
            money=#{money}
        where id = #{id};
    </update>
    <delete id="deleteById" parameterType="int">
        delete
        from entity
        where id = #{id};
    </delete>
    <select id="getById" resultType="com.demo.mybatis.entity.Entity">
        select *
        from entity
        where id = #{id};
    </select>
    <select id="getList" parameterType="int" resultType="com.demo.mybatis.entity.Entity">
        select *
        from entity
        limit #{page}, #{size};
    </select>
</mapper>