<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.UserRoleMapper">
    <resultMap id="BaseResultMap" type="com.example.mybatis.entity.UserRole">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <id property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert">
        insert into user_role(user_id, role_id)
        values (#{userId}, #{roleId})
    </insert>

    <select id="select" resultMap="BaseResultMap">
        select user_id, role_id, create_time, update_time
        from user_role
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        select user_id, role_id, create_time, update_time
        from user_role
        where user_id = #{id}
    </select>

    <delete id="delete">
        delete
        from user_role
        where user_id = #{userId}
          and role_id = #{roleId}
    </delete>

</mapper>
